<!-- _includes/footer.html -->
<footer class="site-footer">
  <div class="footer-content">
    <div class="social-links">
      <a href="https://github.com/yoon-zh/dku25" class="hover-glow" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="footer-bottom">
      <p>© 2025 Health Horizon. All rights reserved.</p>
    </div>
  </div>
</footer>
<script src="{{ '/scripts/main.js' | relative_url }}"></script>
<script src="{{ '/scripts/codeblocks.js' | relative_url }}"></script>
<script src="{{ '/scripts/axeptio.js' | relative_url }}"></script>
<script src="{{ '/scripts/survey.js' | relative_url }}" defer></script>